/_mac/
/codestyles/
/inspection/
IntelliLang.xml
androidEditors.xml
androidStudioFirstRun.xml
debugger.renderers.xml
debugger.xml
diff.xml
editor.xml
filetypes.xml
find.xml
gradle.run.settings.xml
gradle.settings.xml
ide.general.xml
javaeeExternalResources.xml
jdk.table.xml
project.default.xml
ui.lnf.xml
usageView.xml
web-browsers.xml
